{
  "plugins": ["import", "react-hooks"],
  "parser": "@typescript-eslint/parser",
  "settings": {
    "import/resolver": {
      "typescript": {
        "project": "./tsconfig.json"
      }
    },
    "import/parsers": {
      "@typescript-eslint/parser": [".ts", ".tsx"]
    }
  },
  "rules": {
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn",
    "import/order": [
      "error",
      {
        "groups": [
          "builtin",
          "external",
          "internal",
          ["parent", "sibling", "index"],
          "unknown"
        ],
        "pathGroups": [
          {
            "pattern": "{react*, react*/**}",
            "group": "external",
            "position": "before"
          },
          {
            "pattern": "@/components/**",
            "group": "internal",
          },
          {
            "pattern": "@/styles/**",
            "group": "unknown"
          },
          {
            "pattern": "classnames/*",
            "group": "unknown"
          }
        ],
        "pathGroupsExcludedImportTypes": ["react"],
        "alphabetize": {
          "order": "asc",
          "caseInsensitive": true
        },
        "newlines-between": "always"
      }
    ]
  }
}
