@import "../../../styles/mixin";

.post-detail {
  display: flex;
  flex-direction: column;
  max-width: 768px;
  height: fit-content;
  padding-bottom: 100px;

  .head {
    h1 {
      @include mobile {
        font-size: 36px;
      }

      font-size: 48px;
      padding-bottom: 10px;
    }

    > div {
      padding-bottom: 40px;

      &:last-child {
        display: flex;
        justify-content: space-between;
      }

      .button-wrap {
        button {
          font-size: 16px;
          margin-left: 10px;
        }
      }
    }
  }
}
