@import "../../../styles/mixin";

.theme-toggle {
  @include media(mobile, tablet) {
    height: 55px;
    padding: 0 20px;
  }

  font-size: var(--text-input-size-medium);
  padding-right: 10px;
  outline: none;
}
