@import "../../styles/mixin";

.not-found {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  strong {
    font-size: var(--text-404-strong-size);
  }

  h1 {
    @include mobile {
      font-size: var(--text-h1-size-small);
    }

    font-size: var(--text-h1-size-large);
    padding-bottom: 24px;
  }

  a {
    @include mobile {
      font-size: var(--text-size-default);
    }

    font-size: var(--text-404-btn-size);
    border-radius: 6px;
    padding: 0 12px;
    background: var(--color-highlight);
    color: var(--color-highlight-text);
  }
}
