.post-detail {
  display: flex;
  flex-direction: column;

  .head {
    h1 {
      font-size: 34px;
      padding-bottom: 30px;
    }

    > div {
      display: flex;
      justify-content: space-between;
      padding-bottom: 40px;

      .button-wrap {
        button {
          font-size: 16px;

          + button {
            margin-left: 10px;
          }
        }
      }
    }
  }
}
