.button-group {
  position: fixed;
  background: var(--color-background-muted);
  border-top: 1px solid var(--color-border);
  bottom: 0;
  left: 0;
  width: 50%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  z-index: 10;

  button {
    border: none;
    background: none;
    padding: 0 30px;
    font-size: var(--text-input-size-medium);
  }
}
