$breakpoint-tablet: 1024px;
$breakpoint-mobile: 640px;

$black: #121212;
$dark-gray: #21262d;
$light-gray: #e5e5e5;
$white: #ffffff;
$highlight: #00ee00;

$font-default: "Satoshi", sans-serif;
$font-apple: -apple-system, "Open Sans", sans-serif;
$font-fira: "Fira Code", monospace;
