@import "../../styles/mixin";
@import "../../styles/variables";

.home {
  position: relative;

  h1 {
    @include mobile {
      font-size: 24px;
    }

    font-size: 36px;
    padding-bottom: 30px;
  }

  .tag {
    @include tablet {
      left: 20px;
    }

    @include mobile {
      left: 30px;
    }

    position: absolute;
    left: 10px;
    top: 50%;
    width: fit-content;
    height: 30px;
    padding: 3px 7px 0;
    background: var(--color-highlight);
    color: #{$black};
    font-size: 16px;
    transform: rotate(-30deg);
  }

  .circle-area {
    position: absolute;
    bottom: 0;
    right: 0;
    max-width: 250px;
    width: 100%;
    background: url("../../../public/assets/images/me02.png") no-repeat center
      center;
    background-size: 61%;
    transition: all 0.3s;
    overflow: hidden;

    &:hover {
      background-image: url("../../../public/assets/images/me03.png");
    }

    svg {
      fill: currentColor;
      height: auto;
      width: 100%;
      font-size: 5px;
      letter-spacing: 0.9px;
      transform-origin: center;
      animation: rotate 10s infinite linear;
    }

    @keyframes rotate {
      from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(360deg);
      }
    }
  }
}
