@import "../../styles/mixin";

.contents {
  padding: 80px 0;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  background: var(--color-background);
  line-height: 1.75;

  > * {
    @include tablet {
      width: 630px;
      padding: 0 16px;
    }

    @include mobile {
      width: 100%;
      padding: 0 16px;
    }

    width: 768px;
  }

  ::selection {
    background: var(--color-highlight);
    color: var(--color-highlight-text);
  }
}
