@import "../../../styles/mixin";

.cursor {
  @media (hover: none) {
    pointer-events: none;
    display: none;
  }

  position: fixed;
  top: 0;
  left: 0;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: var(--color-cursor);
  z-index: 100;
  mix-blend-mode: difference;
}
