@import "../../../styles/mixin";

.cursor {
  position: fixed;
  top: 0;
  left: 0;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: var(--color-text);
  z-index: 100;

  @include mobile {
    display: none;
  }
}
