.post {
  display: flex;
  flex-direction: column;
  font-family: -apple-system, "Open Sans", sans-serif;

  .head {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
  }
}
