.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  z-index: 10;
  background: #ffffff;

  .inner {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 80vw;
    padding: 20px 0;

    h1 {
      font-size: 16px;
    }
  }
}
