@import "../../../styles/mixin";

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  z-index: 10;
  background: var(--color-background);
  font-family: "Satoshi", sans-serif;

  .inner {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 80vw;
    padding: 20px 0;

    > div {
      display: flex;
      align-items: center;
    }

    h1 {
      font-size: 16px;
    }

    @include mobile {
      max-width: 100%;
      padding: 16px;

      h1 {
        display: none;
      }
    }
  }
}
