@import "./styles/variables";

[data-color-mode="light"] {
  --color-text: #{$black};
  --color-border: #{$light-gray};
  --color-background: #{$white};
  --color-background-muted: #{$light-gray};
  --color-button-text: #{$white};
  --color-button-background: #{$black};
  --color-tag-text: #{$black};
  --color-tag-background: #{$light-gray};
  --color-highlight: #{$highlight};
}

[data-color-mode="dark"] {
  --color-text: #{$light-gray};
  --color-border: #{$dark-gray};
  --color-background: #{$black};
  --color-background-muted: #{$dark-gray};
  --color-button-text: #{$black};
  --color-button-background: #{$white};
  --color-tag-text: #{$white};
  --color-tag-background: #{$dark-gray};
  --color-highlight: #{$highlight};
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: none !important;
  color: var(--color-text);
}

a {
  text-decoration: none;
}

input {
  border: 1px solid var(--color-border);
  border-radius: 5px;
  background: var(--color-background);
}

button {
  border: none;
  background: none;
}

.w-md-editor-toolbar,
.w-md-editor-preview,
.w-md-editor-text,
.wmde-markdown {
  background: var(--color-background) !important;
}
.w-md-editor-toolbar {
  padding: 0 48px !important;
  border-bottom: none !important;
}
.w-md-editor-text {
  padding: 48px 48px 128px !important;
}
.w-md-editor-preview {
  padding: 48px !important;
  box-shadow: inset 1px 0 0 0 var(--color-border) !important;
}
.wmde-markdown tt,
.wmde-markdown code {
  font-family: "Fira Code", monospace !important;
}
