* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system;
}

a {
  text-decoration: none;
  color: #000000;
}

input,
button {
  border: 1px solid #000000;
  border-radius: 5px;
}

button {
  cursor: pointer;
}
