@import "../../../styles/mixin";

.nav-item {
  display: flex;
  flex-direction: column;
  width: 100%;

  a {
    @include media(mobile, tablet) {
      height: 55px;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0;
    }

    display: block;
    padding: 0 10px;

    &.active {
      font-weight: bold;
      color: var(--color-highlight);
    }
  }
}
