@import "./variables";

@mixin mobile {
  @media (max-width: #{$breakpoint-mobile}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$breakpoint-mobile}) and (max-width: #{$breakpoint-tablet}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$breakpoint-tablet}) {
    @content;
  }
}

@mixin media($keys...) {
  @each $key in $keys {
    @if ($key == mobile) {
      @include mobile {
        @content;
      }
    } @else if ($key == tablet) {
      @include tablet {
        @content;
      }
    } @else if ($key == desktop) {
      @include desktop {
        @content;
      }
    }
  }
}

@mixin keyframes($name) {
  @keyframes #{$name} {
    @content;
  }
}

@mixin animation(
  $name,
  $duration: 0.7s,
  $count: 1,
  $timing: ease,
  $fill-mode: forwards
) {
  animation-name: $name;
  animation-duration: $duration;
  animation-iteration-count: $count;
  animation-timing-function: $timing;
  animation-fill-mode: $fill-mode;
}
