$breakpoint-tablet: 1024px;
$breakpoint-mobile: 640px;

$black: #121212;
$dark-gray: #21262d;
$light-gray: #e5e5e5;
$white: #ffffff;
$highlight: #00ee00;

$font-default: "Satoshi", sans-serif;
$font-apple: -apple-system, "Open Sans", sans-serif;
$font-fira: "Fira Code", monospace;

$text-size-svg: 5px;
$text-size-small: 14px;
$text-size-default: 16px;
$text-size-medium: 18px;
$text-size-large: 20px;
$text-size-xlarge: 24px;
$text-size-2xlarge: 36px;
$text-size-3xlarge: 48px;
$text-size-8xlarge: 96px;
